{% extends 'base.html.twig' %}

{% block body %}
    <div class="edit_profile">
        {{ form_start(profile_form, {'method': 'post', 'attr' : {'class' : 'user-profile'}}) }}
        {{ form_errors(profile_form) }}
        {{ form_widget(profile_form) }}
        <div class="modal-footer">
            <input type="submit" value="{{ 'edit'|trans }}" />
        </div>
        {{ form_end(profile_form) }}
    </div>
{% endblock %}