{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(reg_form, {'method': 'post', 'attr' : {'class' : 'user-registration'}}) }}
    {{ form_errors(reg_form) }}
    {{ form_widget(reg_form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(reg_form) }}

{% endblock %}