{% extends 'base.html.twig' %}

{% block body %}
    {% block javascripts %}
        {% javascripts '@UserBundle/Resources/js/base.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <div class="row">
        <div class="col s12 m6">
            <ul id="users-collection" class="collection">
                <li class="collection-item avatar valign-wrapper">
                    <i class="material-icons medium circle green">perm_identity</i>
                    <span class="collection-header">Users</span>
                    <a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>
                </li>
                {% for user in users %}
                    <li class="collection-item">
                        <div class="row valign-wrapper">
                            <div class="col s9 m8">
                                <p class="collections-title">{{ user.username }}</p>
                                <p class="collections-content">{{ user.position }}</p>
                                <p class="collections-content">{{ user.email }}</p>
                                <p class="collections-content">{{ user.phone }}</p>
                            </div>
                            <div class="col s3 m2">
                                <a data-id="{{ user.id }}" href="#modal{{ user.id }}" class="edit-user btn-floating right-align waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
                            </div>
                        </div>
                    </li>
                    <div id="modal{{ user.id }}" class="modal">
                        <div class="modal-content">
                            <div class="edit_profile"></div>
                        </div>
                        {#<div class="modal-footer">#}
                            {#<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>#}
                        {#</div>#}
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}



